<h1>Base Count</h1>
<hr>

<div class="row">

  <div class="col-6">
    <h4>十進位</h4>

    <% color_list = ["red", "green", "blue"] %>
    <% color_list.each_with_index do |color, i| %>
      <div class="form-group row <%= color%>-input">
        <label for="" class="col-form-label col-sm-1"><%= color[0].upcase %>:</label>
        <div class="col-sm-11 form-and-ticket">
          <%= text_field_tag color, nil, class: "form-control color-input" %>
          <div class="color-ticket <%= color %>-ticket"></div>
        </div>
      </div>
    <% end %>

    <p id="from-10-to-16" class="btn btn-primary">轉換</p>
  </div>
  <br>

  <div class="col-1">

  </div>
  <div class="col-5">
    <h4>十六進位</h4>
    <%= text_field_tag "hex" %>
    <p></p>
    <p id="from-16-to-10" class="btn btn-primary">轉換</p>
    <hr>
    <div id="hex-result"></div>
  </div>
</div>

<style media="screen">
  #hex-result {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }
</style>

<script type="text/javascript">

  var RGB = ["red", "green", "blue"];

  function define_rgb_string(rgb){
    result = "rgb("+rgb["red"]+","+rgb["green"]+","+rgb["blue"]+")";
    console.log(result);
    return(result);
  };

  function print_color(color, rgb){
    $("."+color+"-ticket").css("background-color", define_rgb_string(rgb));
  }

  function define_rgb(color, value){
    var rgb_code = {
      "red": 0,
      "green": 0,
      "blue": 0
    };
    rgb_code[color] = value;
    print_color(color, rgb_code);
  }

  $(".color-input").on("change", function(){
    var color = $(this).attr("id");
    var value = $(this).val();

    define_rgb(color, value);
  });


  function count_10_to_16(number) {
    number = parseInt(number);
    hex = number.toString(16);
    if (hex.length < 2) {
      hex = "0"+hex;
    }
    return(hex);
  };

  function convert_16_to_10(hex){
    return parseInt(hex, 16);
  };

  function show_color(hex){
    $("#hex-result").css("background-color", "#"+hex);
  };


  $("#from-10-to-16").on("click", function(){
    console.log("from 10 to 16");

    result = new String();

    RGB.forEach(function(color){
      console.log(color);
      var number = $("#"+color).val();
      var hex = count_10_to_16(number);
      console.log(number+"-->"+hex);

      result = result + hex;
    });

    console.log(result);

    $("#hex").val(result);
    show_color(result);
  });

  $('#from-16-to-10').on('click', function(){
    console.log("from 16 to 10");
    var hex = $("#hex").val();
    show_color(hex);

    for (i = 0; i <= 2; i++) {
      color = RGB[i];

      hex_string = hex.slice(i*2, i*2+2);
      console.log(color+": "+hex_string);

      number = convert_16_to_10(hex_string);
      define_rgb(color, number);
      $("#"+color).val(number);
    }
  });



</script>
