<h1>Profile</h1>

<div class="flex">
  <div class="col">
    <%= image_tag(@user.avatar.small) if @user.avatar? %>
  </div>
  <div class="col">
    <h4><%= @user.name %></h4>
    <p><%= @user.email %></p>
  </div>
</div>

<hr>
<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "Edit Password", edit_user_registration_path %>
<% end %>
