<h1><%= @post.title %></h1>
<p><%= @post.created_at %></p>
<%= link_to edit_post_path(@post) do %>
  <%= icon 'fas', "edit" %>
<% end %>
<%= link_to post_path(@post), method: :delete do %>
  <%= icon "fas", "trash-alt" %>
<% end %>
<hr>

<div class="">
  <%= @post.content.html_safe %>
</div>
